# Build
bin/
obj/

# NuGet
packages/
*.nupkg

# Rider / IDE
.idea/
*.sln.iml
*.user
*.DotSettings.user
_ReSharper.Caches/

# Logs / Temp
*.log

# Game Data (Welt)
Content/Worlds/
*.dat

# MonoGame / Content Pipeline
*.mgstats
